/* Estilos para la sección "Contacto" */
#contacto {
    background-color: #3b3b3b; /* Puedes elegir un color de fondo que contraste con el encabezado */
    padding: 50px 0;
    text-align: center;
    background: url('/static/images/background-contacto-oscuro1.webp') no-repeat center center;
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la sección */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.contact-header {
    margin-bottom: 30px;
    margin-top: -40px;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgb(0, 0, 0.018); /* Sombra de texto menos difusa */
}

.contact-header h2 {
    text-align: center;         /* Centrar el título horizontalmente */
    margin-top: auto;
    margin-bottom: 20px;       /* Espacio entre el título y la sección de habilidades */
    color: #ffffff;
    font-family: Arial, sans-serif; /* Mantén la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Esto ya está haciendo que el texto sea más grueso */
    font-size: 2.5em; /* Aumenta el tamaño de la fuente un poco más para resaltarlo */
    max-width: 100%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra suave al texto */
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/* Estilos para el formulario de contacto */
.contact-form {
    background-color: #2c2c44;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: left;
    max-width: 400px; /* Ancho máximo para el formulario */
    
   
}

.contact-form h3 {
    font-size: 1.5em;
    color: #f9f9f9;
    text-shadow: 1px 1px 0 rgb(0, 0, 0.018); /* Sombra de texto menos difusa */
}

.contact-form input,
.contact-form textarea,
/* Estilos para el botón de "Enviar" en la sección de contacto */
.contact-form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1.2em;
    max-width: 90%; /* Ancho máximo para el botón */
    background-color: #ffffff; /* Color de fondo por defecto */
    color: #484848; /* Color de texto por defecto */
    transition: background-color 0.3s, transform 0.3s; /* Efecto de transición suave en el color de fondo y el tamaño */
}

.contact-form button:hover {
    background-color: #665164; /* Cambio de color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumento de tamaño al pasar el mouse */
    box-shadow: 0 5px 8px rgb(253, 207, 255); /* Sombras difusas */
    color: #ffffff;
}



.contact-details {
    background-color: #2c2c44;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: left;
    max-width: 450px;
    
}

.contact-details h3 {
    font-size: 1.5em;
    color: #ffffff;
}


.contact-details p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff;
}

.contact-details h3, .contact-details p {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.018); /* Sombra de texto menos difusa */
}

/* Estilo predeterminado para los enlaces */
.contact-details a {
    color: #000000; /* Color predeterminado, puedes elegir el que desees */
    transition: color 0.3s; /* Agregamos una transición suave al cambio de color */
}

/* Cambio de color al pasar el mouse por encima */
.contact-details a:hover {
    color: #665164; /* Cambia el color a tu elección cuando el mouse está encima */
}




.social-links {
    margin-top: -45px;
    color: #ffffff; 
}

.social-links h3 {
    font-size: 2.5em;
    
}

.social-links a {
    display: inline-block;
    margin: 10px;
    
}

/* Estilos CSS para la imagen de contacto */
.contact-image {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 40px; /* Espacio superior entre el texto y la imagen */
}

.contact-image img {
    max-width: 300px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción de aspecto original */
    margin-top: -50px;
    transition: transform 0.2s ease-in-out; /* Efecto de transición suave */
}


/*ajustar el tamaño de las imagenes de contacto*/

/* Estilos para las imágenes de redes sociales */
.social-links img {
    max-width: 40px; /* Ajusta el ancho máximo según tu preferencia */
    height: auto; /* Mantiene la proporción de aspecto original */
    border: 2px solid transparent; /* Borde transparente de 2px alrededor de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    transition: border-color 0.3s, transform 0.3s; /* Efecto de transición suave en el borde y el tamaño */
    border-color: #ffffff;
}

.social-links img:hover {
    border-color: #f1ca09; /* Cambio de color del borde al pasar el mouse (azul en este caso) */
    transform: scale(1.1); /* Aumento del tamaño al pasar el mouse */
}