#habilidades{
    background: radial-gradient(circle, #3e2863, #090017);
    padding: 10px; /* Espaciado general */

}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Espaciado entre logos */
    justify-content: center; /* Centrado horizontal */
    padding: 20px; /* Espaciado general */

}

.skills-header {
    margin-bottom: 30px;
    color: #ffffff;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    font-size: 1.3em; /* Aumenta el tamaño de la fuente */
    max-width: 100%; /* Evita que el texto se salga de los límites */
    margin-top: -50px;
    text-shadow: 2px 2px 0 rgb(0, 0, 0.018);
}

.skill {
    position: relative;
    width: 100px; /* Ajusta según necesidad */
    height: 100px; /* Ajusta según necesidad */
    cursor: pointer;
    transition: transform 0.3s ease; /* Efecto al pasar el mouse */
    transition: background-color 0.3s, transform 0.3s; 
}

.skill-logo {
    width: 100%;
    height: 100%;
    margin-top: -20px;
    filter: grayscale(100%); /* Blanco y negro por defecto */
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s; 
}

.skill:hover .skill-logo {
    filter: grayscale(0%); /* Color original al pasar el mouse */
    box-shadow: 0 0 15px #efc3ff; /* Resplandor alrededor del logo */
    border-radius: 50%;
    transform: scale(1.1); /* Aumento del tamaño al pasar el mouse */
}

.skill-name {
    position: absolute;
    bottom: -14px; /* Ajusta según necesidad */
    left: 50%;
    transform: translateX(-50%); /* Centra el texto debajo del logo */
    opacity: 0; /* Invisible por defecto */
    transition: opacity 0.3s ease;

    color: #ffffff;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Hace que el texto sea más grueso */
    font-size: 1.3em; /* Aumenta el tamaño de la fuente */
    max-width: 100%; 
}

.skill:hover .skill-name {
    opacity: 1; /* Visible al pasar el mouse */
}

.skills-title {
    text-align: center;         /* Centrar el título horizontalmente */
    margin-top: auto;
    margin-bottom: 20px;       /* Espacio entre el título y la sección de habilidades */
    color: #ffffff;
    font-family: Arial, sans-serif; /* Mantén la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Esto ya está haciendo que el texto sea más grueso */
    font-size: 2.5em; /* Aumenta el tamaño de la fuente un poco más para resaltarlo */
    max-width: 100%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra suave al texto */
}
