/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
}

/* Estilos de la sección de Testimonios */
#testimonios {
    padding: 4rem 0;
    background: linear-gradient(135deg, #341777, #46275d);
    color: #fff;
}

#testimonios h2{
    text-align: center;         /* Centrar el título horizontalmente */
    margin-top: -40px;
    margin-bottom: 20px;       /* Espacio entre el título y la sección de habilidades */
    color: #ffffff;
    font-family: Arial, sans-serif; /* Mantén la fuente a Arial o una fuente sans-serif */
    font-weight: bold; /* Esto ya está haciendo que el texto sea más grueso */
    font-size: 2.5em; /* Aumenta el tamaño de la fuente un poco más para resaltarlo */
    max-width: 100%; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade una sombra suave al texto */
}

#testimonios p {
    margin-bottom: 2rem;
    margin-top: -10px;
    text-align: center;
}

.testimonio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.testimonio-card {
    max-width: 600px;
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
}

.testimonio-card p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.testimonio-card footer h4 {
    font-size: 1.4rem;
    margin-top: 1rem;
    color: #FFF;
}

.testimonio-card footer p {
    color: rgba(255, 255, 255, 0.8);
}

.ver-carta {
    padding: 0.8rem 1.2rem;
    background-color: #FFF;
    color: #5626c4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: transform 0.2s;
}

.ver-carta:hover {
    transform: translateY(-3px);
}

.navegacion-testimonios {
    display: flex;
    gap: 1rem;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background 0.3s ease;
}

.dot.active {
    background: #FFF;
}
