#education-section {
    background: radial-gradient(circle, #3e2863, #090017);
    padding: 20px;

}

.education-title {
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.education-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.certificate-card {
    background: #232233;
    border-radius: 15px;
    padding: 20px;
    width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transition: background-color 0.3s, transform 0.3s; 
}

.certificate-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #efc3ff;
}

.certificate-title {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.certificate-description {
    color: #b2b2b4;
    font-size: 1em;
    margin-bottom: 20px;
}

.view-certificate-btn {
    background-color: #6458F0;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
}

.view-certificate-btn:hover {
    background-color: #5045D1;
    transform: scale(1.1);
    box-shadow: 0 5px 8px rgba(222, 73, 255, 0.64);
}

.certificate-card img {
    width: 40px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: -15px;
}

@media (max-width: 768px){
    .education-container {
        flex-direction: column;
        overflow-x: hidden;
    }
}